/*estilos generales*/
h1,p,h2,h3,h4 {
   font-family: 'Edu NSW ACT Foundation', cursive;
   text-align: center;  
  
}
.sombra{
   display: block;
   background-color:rgba(240, 255, 255, 0.505);
   border-radius: 20px;
   justify-content: center;  
   
}
/*estilos header*/

header {
   
    display: block;
    font-size: x-large;
    background-image: url(./Imágenes/foto1recortada.jpg);
    background-size: cover;
    width: 1300;
    height: 300px; 
    color: black;
      
}
h2, h3, image{
   text-align: center;
}
/*estilos navbar*/
.navbar {
    position: sticky;
    top: 0;
}
.container{
    
    display: flex;
    background-color:  rgb(223, 207, 187);   
    
}
.nav-link {  
    align-items:center;  
    color: blue; 
      
   
}
.navbar-brand{
    font-family: cursive;
    color: blue;
}
/*estilos promos*/
.promos{
    color: blue;
    width: 100%;
    font-size: larger;
    background-color: antiquewhite;       
    text-align: center;
    justify-content: center;
}
a{
    text-decoration: none;
}
/*estilos nosotros*/
.contenedor{
   display: flex;
   background-color: antiquewhite;
   justify-content:space-around;
   width: 100%;
   flex-wrap: wrap;
   
   
}

.elemento{
   width: 500px;
   justify-content: center;
   margin-top: 2%;
   margin-block-end: 2%;
   text-indent: 2%;
   padding-left: 20px;
   padding-right: 20px;
   background-color: rgb(223, 207, 187);
   font-family:'Roboto', sans-serif;
   color:rgba(0, 0, 0, 0.716)
     
}
/*estilos carrusel*/
.contenedor2{
   display: flex;
   width: 100%;
   justify-content: center;
   margin-top: 2%;
   margin-block-end: 2%;
   padding-left: 20px;
   padding-right: 20px;
  
}
.carousel-caption {
   background-color: rgba(0, 0, 0, 0.275);
   border-radius: 20px;
}
.carousel {
    width: 70%;
}
/*estilos contacto*/
.interaccion{
   display: flex;
   background-color: antiquewhite;
   justify-content:space-around;
   width: 100%;
   flex-wrap: wrap;
}

    

.container2{
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: rgb(223, 207, 187);
    border-color: rgba(41, 28, 223, 0.684);
    padding: 10px;
    margin-top: 1em;
    
    
}
/*estilos cotización*/
.container3{
    display: flex;
    flex-direction: column;
    width: 500px;
    justify-content:center;
    background-color: rgb(223, 207, 187);
    text-align: center; 
    font-size: small;
        
    }

/* --- Pie De Página --- */

.footer{
    display: block;
    width: 100%;    
}
.grupo-1{
    display: flex;
    background-color: antiquewhite; 
    height: 200px;
    justify-content:space-evenly;
    align-items:center;  
        
    
}
.box{
    display: flex;
    flex-direction: column;
    flex-basis: 30%;
    justify-content: center;
    flex-basis: content;
    text-align: center;
    font-size: small;
  
}
.box h3{
    color: blue;
}
.box-redes{
    display: flex;
    flex-direction: column;
    text-align: center;


}
.iconos{
    text-decoration: none;
    font-size: 25px;
    
}
.grupo-2{
    display: block;
    background-color: rgb(223, 207, 187);
    text-align: center;
    font-size: 14px
}
